/docs
/.vscode
Answerly/django/.vscode/
Answerly/django/qanda/management/commands/data1.csv
Answerly/django/qanda/management/commands/data2.csv


__pycache__/
*.pyc
*.pyo

*.py[cod]
*$py.class
MyMDB/media_root
MyMDB/.env
